* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 200rem;
    background: url("./Images/background.jpg");
    background-size: cover;
}

div.navbar {
    margin-top: 4rem;
    height: 5rem;
    width: 98%;
    background-color: blueviolet;
    position: sticky;
    top: 0rem;
    left: 1rem;
    border: 0.5rem;
    border-radius: 1rem;

}


ul img {
    height: 4rem;
    margin-left: 20%;
}

ul img#one {
    margin-left: 11%;
}

ul img:hover {
    height: 4.2rem;
    cursor: pointer;
}

@media(max-width:1100px){
    ul img#one {
        margin-left: 4%;
    }
}
